.wallet-adapter-button {
  width: 100% !important;
  background-color: #000 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.wallet-adapter-button:hover {
  background-color: #333 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.wallet-adapter-dropdown {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
